{
    "openApiKey": "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",
    "outputDir": "D:/1Resume",
    "outputFilename": "Matthew_Sliger-{0}-{1}"
}