@import './base.css';

body {
  display: flex;
  overflow: hidden;
  /* user-select: none; */
  font-size: 14px;
  line-height: 15px;
  white-space: nowrap;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg {
  background: var(--color-background);
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  /* background-image: url('./wavy-lines.svg'); */
  background-size: cover;
  opacity: 0.7;
  border-radius: 4px;
}

.move-icon {
  position: absolute;
  top: 4px;
  right: 0;
  cursor: move;
  z-index: 999;
  -webkit-app-region: drag;
  background-color: var(--color-background);
}

.log-area {
  /* { padding: 4, overflow: 'auto' } */
  overflow: auto;
  top: 2px;
  left: 2px;
  height: 300px;
  width: 196px;
  position: absolute;
}